/* Estilo relacionado ao módulo de clientes */

    .td,objeto.observacao {
    width: 15px; /* Opcional: ajusta a largura se necessário */
    height: 15px; /* Opcional: ajusta a altura se necessário */
}
/* Estilo relacionado ao módulo de clientes */

.td,objeto.observacao {
    width: 15px; /* Opcional: ajusta a largura se necessário */
    height: 15px; /* Opcional: ajusta a altura se necessário */
}
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}